@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Orbitron;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
}

.digital-clock {
  width: 70%;
  height: 50%;
  background-color: #212121;
  border-radius: 0.7rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

p {
  color: white;
  font-size: 7rem;
}
